@function rem($size) {
  @return #{$size/16px}rem;
}

.RippleButton {
  a {
    position: relative;
    display: inline-block;
    padding: rem(12px) rem(36px);
    margin: rem(10px) 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(18px);
    letter-spacing: rem(2px);
    border-radius: rem(40px);
    overflow: hidden;
    transition: all 300ms;
    > span > span {
      position: absolute;
      background: #fff;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50%;
      animation: animate 800ms linear;
    }
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: rem(500px);
    height: rem(500px);
    opacity: 0;
  }
}

.blue {
  a {
    background: linear-gradient(90deg, #0162c8, #55e7fc);
  }
}

.purple {
  a {
    background: linear-gradient(90deg, #755bea, #ff72c0);
  }
}
